
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

.logo{
  display: inline-block;
  margin: 20px 15px 0 15px;
}

body > .container-fluid
{
  padding-right:0px;
  padding-left:0px;

  .row 
  {
    margin-left:0;
    margin-right:0;
    .col-xs-12
    {
      padding-right:0px;
      padding-left:0px;
    }
  }

}

#main-logo{ float: left; margin-right: 15px; }
.brand-name{ color: #fff !important; }
#navbar{ float: right; }
#jquery-logo{ width: 122px; }
#bootstrap-logo{ width: 54px; }
#sass-logo{ width: 62px; }
#yeoman-logo{ width: 75px; }
#npm-logo{ width: 70px; }
#grunt-logo{ width: 63px; }
#bower-logo{ width: 63px; }
#compass-logo{ width: 63px; }
.cols-margin{ margin-top: 42px; }
.gray-text{ color: #A5A5A5; }
.docs-btn{
  background-color: #BC24D9;
  border-color: #8D1BA2;
  width: 300px;
  height: 72px;
  font-size: 26px;
  margin-top: 27px;
  line-height: 2em;

  &:hover, &:active, &:focus{
    background-color: #8D1BA2 !important;
    border-color: #8D1BA2 !important;
  }
}